.title {
  font-size: 40px;
  color: blue;
}

.header-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0 3%;
  box-shadow: 0 2px 3px #ccc;
  margin-bottom: 20px;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.mid-li {
  border-left: 1px solid blue;
  padding: 0 7px;
}
